@model UserSignInViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div id="page" class="hfeed site">
    <div id="primary" class="content-area">
        <div id="content" class="site-content" role="main">
            <div class="layout-fixed">
                <article class="hentry page">
                    <header class="entry-header">
                        <h1 class="entry-title">Giriş </h1>
                    </header>

                    <div class="entry-content">
                        <div class="contact-form">

                            <form method="post">
                                <div class="form-group">
                                    <p style="width:100%;">
                                        <span asp-validation-for="email" class="text-danger"></span> 
                                        <label for="exampleInputEmail1 mb-2">Kullanıcı Adınız</label>
                                        <input type="text" class="form-control" asp-for="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                    <p style="width:100%;">
                                        <span asp-validation-for="password" class="text-danger"></span>
                                        <label for="exampleInputPassword1 mb-2">Şifreniz</label>
                                        <input type="password" class="form-control" asp-for="password" id="exampleInputPassword1">
                                </div>
                                <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                            </form>

                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
