@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "SkillUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px #fde910;
        }

    form div {
        margin-bottom: 3%;
    }
</style>



<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center text-warning">Yetkinlik Düzenleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        <form asp-action="SkillUpdate" asp-area="Admin" asp-controller="AdminSkill" method="post">
                                            <div class="form-group">
                                                <label>Id</label>
                                                <input asp-for="SkillId" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label>Yetkinlik Adı</label>
                                                <input asp-for="SkillName" class="form-control" />
                                                <span asp-validation-for="SkillName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Yüzde</label>
                                                <input asp-for="SkillScore" class="form-control" />
                                                <span asp-validation-for="SkillScore" class="text-danger"></span>
                                            </div>

                                            <button type="submit" class="btn btn-info">Güncelle</button>
                                            <a asp-controller="AdminPortfolio" asp-action="Index" class="btn btn-danger">İptal Et</a>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>