@model EntityLayer.Concrete.Certificate

@{
    ViewData["Title"] = "CertificateAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px #FF6699;
        }

    .text-cert {
        color: #FF6699;
    }

</style>


<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center text-cert">Sertifika Ekleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        <form asp-controller="AdminCertificate" asp-action="CertificateAdd" method="post">

                                            <div class="form-group">
                                                <label>Sertifika Adı</label>
                                                <input asp-for="CertificateName" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Alınan Kurum</label>
                                                <input asp-for="CertificationInstitution" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Açıklama</label>
                                                <textarea asp-for="CertificateDescription" class="form-control" rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Alış Tarihi</label>
                                                <input asp-for="CertificateStartDate" class="form-control" type="date" />
                                            </div>
                                            <div class="form-group">
                                                <label>Bitiş Tarihi</label>
                                                <input asp-for="CertificateEndDate" class="form-control" type="date" />
                                            </div>
                                            <div class="form-group">
                                                <label>Eğitim Süresi</label>
                                                <input asp-for="EducationDurationHours" class="form-control" />
                                            </div>
                                            <br />
                                            <button type="submit" class="btn btn-info">Ekle</button>
                                            <a href="/Admin/AdminPortfolio/index/" class="btn btn-danger">İptal Et</a>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>