@model List<Skill>

<style>
    .skills-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .skill-name {
        background-color: #ecdcd4;
        padding: 10px;
        border-radius: 5px;
        opacity: 0.5;
    }
</style>


@if (Model != null)
{
    <h2 class="section-title">YETKİNLİKLER</h2>
    <div class="skillset">
        <div class="skills-container">
            @foreach (var item in Model)
            {
                <div class="skill-unit skill-name">
                    <h4>@item.SkillName</h4>
                </div>
            }
        </div>
    </div>

    <h2 class="section-title">PROGRAMLAR</h2>

    <div class="skillset">
        <div class="skills-container">
            @foreach (var item in Model)
            {
                <div class="skill-unit" style="margin-right:10px;">
                    <h4>@item.SoftwareUsed</h4>
                </div>
            }
        </div>
    </div>

}
