@model List<Skill>

<style>
    .skill-name {
        width: 100%;
        height: 100%;
        background-color: #f8f8f6;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 2%;
    }
</style>


@if (Model != null)
{
    <h2 class="section-title">YETKİNLİKLER</h2>
    <div class="skillset">
        @foreach (var item in Model)
        {
            <div class="skill-unit skill-name">
                <h4>@item.SkillName</h4>
            </div>
        }
    </div>


    <h2 class="section-title">PROGRAMLAR</h2>
    <div class="skillset">
        @foreach (var item in Model)
        {
            @if (item.SoftwareUsed != null)
            {
                <div class="skill-name">
                    <h4>@item.SoftwareUsed</h4>
                </div>
            }

        }
    </div>

}
