@model List<Project>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}



<div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
        <div class="layout-medium">
            <header class="entry-header">
                <h1 class="entry-title">PROJELERİM</h1>
            </header>

            @if (Model != null)
            {
                <div class="media-grid-wrap">
                    <div class="r-gallery masonry media-grid" data-layout="masonry" data-item-width="420" style="display: flex; flex-wrap: wrap;">
                        @foreach (var item in Model)
                        {
                            if (item.ProjectStatus == true)
                            {
                                <div class="media-cell hentry" style="flex: 0 0 33.33%; box-sizing: border-box; padding: 10px;">
                                    <div class="media-box">
                                        <img src="@item.Image1" alt="project-img">
                                        <div class="mask">
                                            <div class="media-cell-desc">
                                                <h3>@item.ProjectName</h3>
                                                <h4>@item.ProjectSummary</h4>
                                            </div>
                                        </div>
                                        <a href="/Project/ProjectSingle/@item.ProjectId/"></a>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

