@model List<Project>

@{
    ViewData["Title"] = "ProjectSingle";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="entry-header">
            <h1 class="entry-title">@item.ProjectName</h1>

        </div>


        <div id="rg-gallery" class="rg-gallery">
            <ul id="carousel" class="elastislide-list">
                <li>
                    <a href="~/blogtema/images/gallery-images/20.jpg">
                        <img src="@item.Image" />
                    </a>
                </li>
            </ul>

            <div class="rg-image-wrapper">
                <div class="rg-image-nav">
                    <a href="#" class="rg-image-nav-prev">Önceki Görsel</a>
                    <a href="#" class="rg-image-nav-next">Sonraki Görsel</a>
                </div>
                <div class="rg-image"></div>
                <div class="rg-loading"></div>
                <div class="rg-caption-wrapper">
                    <div class="rg-caption">
                        <p></p>
                    </div>
                </div>
            </div>


        </div>

    }
}


<div class="header-links">
    <a href="/Project/index/"><i class="pw-icon-level-up"></i>Geri Dön</a>
</div>




