@model List<Project>

@{
    ViewData["Title"] = "ProjectSingle";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
                        <header class="entry-header">

                            <h1 class="entry-title">Outdoor Adventures</h1>

                            <ul class="header-links">
                                <li><a href="gallery.html"><i class="pw-icon-level-up"></i>Geri Dön</a></li>
                            </ul>

                        </header>
                        <div id="rg-gallery" class="rg-gallery">


                            <!-- thumbs -->
                            <ul id="carousel" class="elastislide-list">
                                <li>
                                    <a href="images/gallery-images/1.jpg">
                                        <img src="images/gallery-images/thumbs/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/2.jpg">
                                        <img src="images/gallery-images/thumbs/2.jpg" alt="image02" data-description="A plaintful story from a sistering vale" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/3.jpg">
                                        <img src="images/gallery-images/thumbs/3.jpg" alt="image03" data-description="A plaintful story from a sistering vale" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/4.jpg">
                                        <img src="images/gallery-images/thumbs/4.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/5.jpg">
                                        <img src="images/gallery-images/thumbs/5.jpg" alt="image05" data-description="And down I laid to list the sad-tuned tale" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/6.jpg">
                                        <img src="images/gallery-images/thumbs/6.jpg" alt="image06" data-description="Ere long espied a fickle maid full pale" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/7.jpg">
                                        <img src="images/gallery-images/thumbs/7.jpg" alt="image07" data-description="Tearing of papers, breaking rings a-twain" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/8.jpg">
                                        <img src="images/gallery-images/thumbs/8.jpg" alt="image08" data-description="Storming her world with sorrow's wind and rain" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/9.jpg">
                                        <img src="images/gallery-images/thumbs/9.jpg" alt="image09" data-description="Upon her head a platted hive of straw" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/10.jpg">
                                        <img src="images/gallery-images/thumbs/10.jpg" alt="image10" data-description="Which fortified her visage from the sun" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/11.jpg">
                                        <img src="images/gallery-images/thumbs/11.jpg" alt="image11" data-description="Whereon the thought might think sometime it saw" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/12.jpg">
                                        <img src="images/gallery-images/thumbs/12.jpg" alt="image12" data-description="The carcass of beauty spent and done" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/13.jpg">
                                        <img src="images/gallery-images/thumbs/13.jpg" alt="image13" data-description="Time had not scythed all that youth begun" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/14.jpg">
                                        <img src="images/gallery-images/thumbs/14.jpg" alt="image14" data-description="Nor youth all quit; but, spite of heaven's fell rage" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/15.jpg">
                                        <img src="images/gallery-images/thumbs/15.jpg" alt="image15" data-description="Some beauty peep'd through lattice of sear'd age" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/16.jpg">
                                        <img src="images/gallery-images/thumbs/16.jpg" alt="image16" data-description="Oft did she heave her napkin to her eyne" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/17.jpg">
                                        <img src="images/gallery-images/thumbs/17.jpg" alt="image17" data-description="Which on it had conceited characters" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/18.jpg">
                                        <img src="images/gallery-images/thumbs/18.jpg" alt="image18" data-description="Laundering the silken figures in the brine" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/19.jpg">
                                        <img src="images/gallery-images/thumbs/19.jpg" alt="image19" data-description="That season'd woe had pelleted in tears" />
                                    </a>
                                </li>
                                <li>
                                    <a href="images/gallery-images/20.jpg">
                                        <img src="images/gallery-images/thumbs/20.jpg" alt="image20" data-description="And often reading what contents it bears" />
                                    </a>
                                </li>
                            </ul>
                            <!-- thumbs -->
                            <div class="rg-image-wrapper">
                                <div class="rg-image-nav">
                                    <a href="#" class="rg-image-nav-prev">Previous Image</a>
                                    <a href="#" class="rg-image-nav-next">Next Image</a>
                                </div>
                                <div class="rg-image"></div>
                                <div class="rg-loading"></div>
                                <div class="rg-caption-wrapper">
                                    <div class="rg-caption">
                                        <p></p>
                                    </div>
                                </div>
                            </div>


                        </div>




