@model EntityLayer.Concrete.Admin

@{
    ViewData["Title"] = "AdminUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    form div {
        margin-bottom: 3%;
    }
</style>

<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center" style=" color:#c9b69b;">Profil Düzenleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        <form asp-action="AdminUpdate" asp-area="Admin" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label>Id</label>
                                                <input asp-for="AdminID" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label for="ImageURL" class="control-label">Fotoğraf</label>
                                                <input type="file" id="ImageURL" name="ImageURL" class="form-control" />
                                                <span asp-validation-for="ImageURL" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Ad Soyad</label>
                                                <input asp-for="NameSurname" class="form-control" />
                                                <span asp-validation-for="NameSurname" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Şifre</label>
                                                <input asp-for="Password" class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Rol</label>
                                                <input asp-for="Role" class="form-control" />
                                                <span asp-validation-for="Role" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Mail</label>
                                                <input asp-for="Mail" class="form-control" />
                                                <span asp-validation-for="Mail" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Açıklama</label>
                                                <textarea asp-for="ShortDescription" class="form-control" rows="8"></textarea>
                                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                            </div>

                                            <button type="submit" class="btn btn-info">Güncelle</button>
                                            <a asp-controller="Admin" asp-action="Profile" class="btn btn-danger">İptal Et</a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>