@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-page">
    <div class="content">


        <div class="container-fluid">

            @* toplam blog *@
            @await Component.InvokeAsync("BlogCountWidgets")

            @* gelen kutusu *@
            <div class="row">
                @* Gelen Mesajlar *@
                @await Component.InvokeAsync("ContactList")

                @* Bloglar *@
                @await Component.InvokeAsync("ProjectList")

            </div>

            @* Projeler *@
            @await Component.InvokeAsync("BlogList")
        </div>
    </div>
</div>

