@model List<Blog>


<aside class="widget widget_recent_entries">
    <h3 class="widget-title">Son Postlar</h3>

    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="#">@item.BlogTitle</a>
                    <br>@(((DateTime)item.BlogCreateDate).ToString("MMMM yyyy"))
                </li>
            }
        </ul>
    }
</aside>

<aside class="widget widget_widget_tptn_pop">
    <h3 class="widget-title">Son Postlar</h3>
    <div class="tptn_posts tptn_posts_widget">
        <ul>
            <li>
                <a href="#" class="tptn_link">
                    <img src="images/blog/t01.jpg" alt="post-image" class="tptn_thumb">
                </a>
                <span class="tptn_after_thumb">
                    <a href="#" class="tptn_link"><span class="tptn_title">Runaway A Road Adventure</span></a>
                    <span class="tptn_date"> September 3, 2014</span>
                </span>
            </li>
        </ul>
    </div>
</aside>