@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "ContactDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .yayin {
        font-size: 14px;
    }

    .blogdetail {
        box-shadow: 0 0 30px 2px grey;
        background-color: white;
        margin: 2%;
    }

    .icerik {
        padding-top: 5%;
        margin: 1%;
    }

    .close-icon {
        float: right;
        margin-left: 10px;
        color: #ec5353;
    }

        .close-icon:hover {
            color: #FF3333;
        }
</style>



<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    @if (Model != null)
                    {
                            
                        <div class="row">
                            <div class="col-md-9 mx-auto blogdetail">
                                <div class="col-md-10 mx-auto icerik">
                                    <a href="/Admin/AdminContact/index/" class="close-icon float-end"><i class="fas fa-window-close"></i></a>
                                    <a href="/Admin/AdminContact/ContactDelete/@Model.ContactId" class="close-icon float-end"><i class="fa fa-trash"></i></a>
                                    <h4 class="mt-0" style="color:#9900FF;">@Model.ContactUserName.ToUpper()</h4>
                                  
                                    <p class="text-uppercase font-13" style="color:#99CCFF;">@Model.ContactMail</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item me-4">
                                            <h4 class="mb-0">@(((DateTime)Model.ContactDate).ToString("dd/MM/yyyy"))</h4>
                                            <p class="text-muted">Oluşturma Tarihi</p>
                                        </li>
                                    </ul>

                                    <p class="text-muted font-13">
                                        @Model.ContactMessage
                                    </p>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
