@model List<Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<style>
    .portolio-img img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

</style>

<div id="page" class="hfeed site">

    <div id="primary" class="content-area">

        <div id="content" class="site-content" role="main">
            <div class="layout-medium">

                <article class="hentry">


                    <header class="entry-header">
                        <h1 class="entry-title">ÖZGEÇMİŞ</h1>
                        <br />
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <h2 class="entry-title" style="color:#c9b69b;">@item.NameSurname</h2>
                            }
                        }

                    </header>

                    <div class="entry-content">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="timeline">

                                    @* iş *@
                                    @await Component.InvokeAsync("Job")

                                    @* eğitim *@
                                    @await Component.InvokeAsync("Education")

                                    <!-- SERTİFİKA -->
                                    @await Component.InvokeAsync("Certificate")

                                </div>
                                <p><a href="https://www.linkedin.com/in/miraydurgun/" class="button"><i class="pw-icon-linkedin-squared"></i>LinkedIn Profilim </a></p>
                            </div>

                            <div class="col-sm-5">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="portolio-img mx-auto">
                                            <img src="@item.ImageURL" />
                                        </div>
                                    }
                                }
                                @* skill *@
                                @await Component.InvokeAsync("Skill")

                                @* program *@
                                @await Component.InvokeAsync("Program")

                                @* projeler *@
                                @await Component.InvokeAsync("Project")

                                @* testimonial *@
                                @await Component.InvokeAsync("Testimonial")

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
