@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div id="page" class="hfeed site">

    <!-- primary -->
    <div id="primary" class="content-area">

        <!-- site-content -->
        <div id="content" class="site-content" role="main">
            <!-- layout-medium -->
            <div class="layout-medium">
                <!-- .hentry -->

                <article class="hentry">


                    <header class="entry-header">
                        <h1 class="entry-title">ÖZGEÇMİŞ</h1>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <h3 class="entry-title">@item.NameTitle</h3>
                            }
                        }


                    </header>

                    <div class="entry-content">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="timeline">

                                    @* iş *@
                                    @await Component.InvokeAsync("Job")

                                    @* eğitim *@
                                    @await Component.InvokeAsync("Education")

                                    <!-- SERTİFİKA -->
                                    @await Component.InvokeAsync("Certificate")

                                </div>
                                <p><a href="https://www.linkedin.com/in/miraydurgun/" class="button"><i class="pw-icon-linkedin-squared"></i>LinkedIn Profilim </a></p>
                            </div>

                            <div class="col-sm-5">
                                @* skill *@
                                @await Component.InvokeAsync("Skill")

                                @* projeler *@
                                @await Component.InvokeAsync("Project")

                                @* testimonial *@
                                @await Component.InvokeAsync("Testimonial")





                            </div>

                        </div>
                    </div>
                </article>

            </div>

        </div>

    </div>

</div>
