@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div id="page" class="hfeed site">

    <!-- primary -->
    <div id="primary" class="content-area">

        <!-- site-content -->
        <div id="content" class="site-content" role="main">
            <!-- layout-medium -->
            <div class="layout-medium">
                <!-- .hentry -->

                <article class="hentry">


                    <header class="entry-header">
                        <h1 class="entry-title">ÖZGEÇMİŞ</h1>
                    </header>

                    <!-- .entry-content -->
                    <div class="entry-content">

                        <!-- row -->
                        <div class="row">


                            <!-- col 6/12 -->
                            <div class="col-sm-7">

                                <!-- timeline -->
                                <div class="timeline">

                                    @* iş *@

                                    <div class="event">
                                        <h2>ÇALIŞMA GEÇMİŞİ</h2>
                                        <i class="pw-icon-bookmark-empty"></i>
                                    </div>
                                    @await Component.InvokeAsync("Job")


                                    @* eğitim *@

                                    <div class="event">
                                        <h2>EĞİTİM</h2>
                                        <i class="pw-icon-graduation-cap"></i>
                                    </div>

                                    <div class="event">
                                        <span class="date">2002</span>
                                        <h4>Atom Science</h4>
                                        <h5>Stanford University</h5>
                                        <p>I studied atomic stuff at Stanford University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.</p>
                                    </div>

                                </div>
                                <!-- timeline -->

                                <p><a href="https://www.linkedin.com/in/miraydurgun/" class="button"><i class="pw-icon-linkedin-squared"></i>LinkedIn Profilim </a></p>

                            </div>
                            <!-- col 6/12 -->
                            <!-- col 6/12 -->
                            <div class="col-sm-5">

                                <h2 class="section-title">YETKİNLİKLER</h2>

                                <!-- DEV SKILLS -->
                                <div class="skillset">

                                    <!-- .skill-unit -->
                                    <div class="skill-unit">
                                        <h4>HTML5</h4>
                                    </div>
                                </div>
                                <!-- DEV SKILLS -->

                                @* projeler *@
                                <h2 class="section-title">PROJELER</h2>

                                <!-- DESIGN SKILLS -->
                               
                                <div class="skillset">
                                    <div class="skill-unit">
                                        <h4>Fireworks</h4>
                                        <span style="color:#c9b69b; font-size:13px;">Tamamlanma Yüzdesi</span>
                                        <div class="bar" data-percent="90">
                                            <div class="progress"></div>
                                        </div>
                                    </div>

                                </div>
                                
                                
                                <!-- DESIGN SKILLS -->

                                <h2 class="section-title">SERTİFİKALAR</h2>

                                <!-- SERTİFİKA -->
                                <div class="skillset">

                                    <div class="skill-unit">
                                        <h4>Fireworks</h4>

                                    </div>
                                </div>
                                <!-- SERTİFİKA -->



                                <h2 class="section-title">REFERANSLAR</h2>

                                <div class="testo-group">

                                    <!-- Testimonial -->
                                    <div class="testo">
                                        <h4>
                                            Vincent Wood
                                            <span>CEO / Gravity Inc.</span>
                                        </h4>
                                        <p>He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much. Also i am so proud of i have him as my asistant. He helped me so much.</p>

                                    </div>
                                    <!-- Testimonial -->
                                </div>
                                <!-- testo-group -->

                            </div>
                            <!-- col 6/12 -->


                        </div>
                        <!-- row -->


                    </div>
                    <!-- .entry-content -->


                </article>

                <!-- .hentry -->

            </div>
            <!-- layout-medium -->

        </div>
        <!-- site-content -->

    </div>
    <!-- primary -->


</div>
<!-- site-main -->
    </div>
<!-- page -->
