@model List<Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


<div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">
        <div class="layout-fixed">
            <article class="hentry post">

                <header class="entry-header">

                    @foreach (var item in Model)
                    {
                        <h1 class="entry-title">@item.NameSurname</h1>
                    }

                </header>

                <div class="entry-content">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <p class="drop-cap">@item.ShortDescription</p>
                        }


                        <blockquote>
                            Bir şeyi başarmanın anahtarı, sabırlı ve kararlı olmaktır. Pes etmemek, başarının yolunu açar.”
                        </blockquote>
                        foreach (var item in Model)
                        {

                            if (item.Description != null)
                            {
                                <blockquote class="alignleft" style="font-size:30px;">
                                    Geleceği belirlemek için geleceği tahmin etmekten daha etkilisi, onu yaratmaktır.
                                </blockquote>
                                <p>@item.Description</p>
                            }
                        }
                    }
                </div>
            </article>
        </div>
    </div>
</div>

