@using EntityLayer.Concrete
@model List<Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Category Sayfası admin paneli için category eklemek veya silmek için lazım</h1>
</body>
</html>
