@model EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "TestimonialUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<style>
    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px #FF9966;
        }

    .text-test {
        color: #FF9999;
    }

    form div {
        margin-bottom: 3%;
    }
</style>


<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center text-test">Referans Düzenleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">

                                        <form asp-action="TestimonialUpdate" asp-controller="AdminTestimonial" method="post" enctype="multipart/form-data" asp-area="Admin">
                                            <div class="form-group">
                                                <input type="hidden" asp-for="TestimonialId" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label>Referans Adı</label>
                                                <input asp-for="TestimonialsName" class="form-control" />
                                                <span asp-validation-for="TestimonialsName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Şirket Adı</label>
                                                <input asp-for="TestimonialsCompanyName" class="form-control" />
                                                <span asp-validation-for="TestimonialsCompanyName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Ünvan</label>
                                                <input asp-for="TestimonialsJobTitle" class="form-control" />
                                                <span asp-validation-for="TestimonialsJobTitle" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Referans Yazısı</label>
                                                <textarea asp-for="TestimonialsDescription" class="form-control" rows="5"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Fotoğraf</label>
                                                <input asp-for="Image" type="file" class="form-control" />
                                                <span asp-validation-for="Image" class="text-danger"></span>
                                            </div>


                                            <button type="submit" class="btn btn-info">Güncelle</button>
                                            <a asp-controller="AdminPortfolio" asp-action="Index" class="btn btn-danger">İptal Et</a>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>