@model List<Admin>


<aside class="widget widget_text">
    <h3 class="widget-title">Hakkımda</h3>
    @if (Model != null)
    {
        @foreach (var item in Model)

        {
            if (item.ShortDescription != null)
            {
                <div class="textwidget">
                    <img src="@item.ImageURL" class="rounded-circle" width="55%" height="55%">

                    <p>@item.ShortDescription.Substring(0,item.ShortDescription.Substring(0,150).LastIndexOf(" "))....</p>
                </div>
            }
        }
    }
</aside>
