
<div class="navbar-custom">

    <!-- LOGO -->
    <div class="logo-box">
        <a href="index.html" class="logo logo-light text-center">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-light.png" alt="" height="16">
            </span>
        </a>
        <a href="index.html" class="logo logo-dark text-center">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="16">
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>

    <div class="clearfix"></div>

</div>

<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <!-- User box -->
        @await Component.InvokeAsync("AdminUserHeader")

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                <li class="menu-title mt-2">Kontrol Paneli</li>

                <li>
                    <a href="/Admin/Admin/index/">
                        <i class="mdi mdi-view-dashboard-outline"></i> 
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="/Admin/Admin/Profile/">
                        <i class="mdi mdi-book-open-page-variant-outline"></i>
                        <span> Hakkımda </span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admincontact/index/">
                        <i class="mdi mdi-message-processing"></i>
                        @await Component.InvokeAsync("ContactCount")
                        <span> Mesajlar </span>
                    </a>
                </li>

                <li class="menu-title mt-2">Proje Yönetimi</li>

                <li>
                    <a href="/admin/adminblog/index/">
                        <i class="mdi mdi-clipboard-outline"></i>
                        <span> Bloglar </span>
                    </a>
                </li>


                <li>
                    <a href="/admin/admincategory/index/">
                        <i class="mdi mdi-apps"></i>
                        <span> Kategoriler </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/adminportfolio/index">
                        <i class="mdi mdi-book-education-outline"></i>
                        <span> Portfolyo </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/adminproject/index/">
                        <i class="mdi mdi-briefcase-variant-outline"></i>
                        <span> Projeler </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/admincomment/index/">
                        <i class="mdi mdi-comment-multiple-outline"></i>
                        <span> Yorumlar </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>