
<div class="navbar-custom">

    <!-- LOGO -->
    <div class="logo-box">
        <a href="/Admin/Admin/"><img src="~/images/logo/Miray_Durgun.png" style="float:left; width:100%; margin-left:-5%; margin-top:-20%" /></a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>

    <div class="clearfix"></div>

</div>

<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <!-- User box -->
        @await Component.InvokeAsync("AdminUserHeader")

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">
                <li class="menu-title mt-2">Kontrol Paneli</li>

                <li>
                    <a href="/Admin/Admin/index/">
                        <i>
                            <img src="~/Images/Logo/dashboard.png" style="width:120%;" />
                        </i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="/Admin/Admin/Profile/">
                        <i>
                            <img src="~/Images/Logo/hakkımda.png" style="width:110%;" />
                        </i>
                        <span>Hakkımda </span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admincontact/index/">
                        <i>
                            <img src="~/Images/Logo/contact.png" style="width:120%;" />
                        </i>
                        @await Component.InvokeAsync("ContactCount")
                        <span> Mesajlar </span>
                    </a>
                </li>

                <li class="menu-title mt-2">Proje Yönetimi</li>

                <li>
                    <a href="/admin/adminblog/index/">
                        <i>
                            <img src="~/Images/Logo/blogs.png" style="width:120%;" />
                        </i>
                        <span> Bloglar </span>
                    </a>
                </li>


                <li>
                    <a href="/admin/admincategory/index/">
                        <i>
                            <img src="~/Images/Logo/categories.png" style="width:100%;" />
                        </i>
                        <span> Kategoriler </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/adminportfolio/index">
                        <i>
                            <img src="~/Images/Logo/portfolio.png" style="width:110%;" />
                        </i>
                        <span> Portfolyo </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/adminproject/index/">
                        <i>
                            <img src="~/Images/Logo/projects.png" style="width:110%;" />
                        </i>
                        <span> Projeler </span>
                    </a>
                </li>

                <li>
                    <a href="/admin/admincomment/index/">
                        <i>
                            <img src="~/Images/Logo/comments.png" style="width:110%;" />
                        </i>
                        <span> Yorumlar </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>