<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <script>document.write(new Date().getFullYear())</script> &copy; Adminto theme by <a href="/Blog/Index/">MyBlog Project</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-sm-block">
                    <a href="/About/Index/">About</a>
                    <a href="/Contact/Index/">Contact </a>
                </div>
            </div>
        </div>
    </div>
</footer>