@model EntityLayer.Concrete.Job

@{
    ViewData["Title"] = "JobUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px #66CCCC;
        }

    form div {
        margin-bottom: 3%;
    }
</style>


<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center" style=" color:#66CCCC;">İş Düzenleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        <form asp-action="JobUpdate" asp-controller="AdminJob" asp-area="Admin" method="post">
                                            <div class="form-group">
                                                <input type="hidden" asp-for="JobId" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Şirket Adı</label>
                                                <input asp-for="CompanyName" class="form-control" />
                                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Ünvan</label>
                                                <input asp-for="JobTitle" class="form-control" />
                                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Açıklama</label>
                                                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Başlangıç Tarihi</label>
                                                <input asp-for="StartDate" class="form-control" type="date" />
                                            </div>
                                            <div class="form-group">
                                                <label>Bitiş Tarihi</label>
                                                <input asp-for="EndDate" class="form-control" type="date" />
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-info">Güncelle</button>
                                                <a asp-controller="AdminPortfolio" asp-action="Index" class="btn btn-danger">İptal Et</a>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>