<style>
    .footer-background {
        background-color: #dfdcd4;
    }

</style>

<footer id="colophon" class="site-footer footer-background" role="contentinfo">
    <div class="layout-medium">
        <div class="footer-social">
            <ul class="social">
                <li><a class="linkedin" href="https://www.linkedin.com/in/miraydurgun/" target="_blank"></a></li>
                <li><a class="github" href="https://github.com/MirayDurgun" target="_blank"></a></li>
                <li><a class="instagram" href="https://www.instagram.com/miraaydurgun/" target="_blank"></a></li>
            </ul>

        </div>
        <div class="footer-sidebar widget-area" role="complementary">
   
            @await Component.InvokeAsync("FooterAbout")
            @await Component.InvokeAsync("FooterCategory")
            @await Component.InvokeAsync("FooterProject")      
            @await Component.InvokeAsync("BlogLast4Post")

        </div>

    </div>
    <div class="site-info">
        <div class="layout-medium">
            <p>crafted with <i class="pw-icon-heart"></i> <em>Miray Durgun</em></p>
        </div>
    </div>
</footer>