        <!-- header -->
<header id="masthead" class="site-header" role="banner">

    <!-- site-navigation -->
    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">

        <a class="menu-toggle"><span class="lines"></span></a>

        <!-- nav-menu -->
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="/Blog/Index/">Ana Sayfa</a>
                    <!-- level 2 -->
                    <ul>
                        <li><a href="home-alt.html">Home Alternate</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                        <li><a href="blog-simple.html">Blog Simple</a></li>
                        <li><a href="blog-regular-with-sidebar.html">Blog Regular Sidebar</a></li>
                        <li><a href="blog-masonry-with-sidebar.html">Blog Masonry Sidebar</a></li>
                    </ul>
                    <!-- level 2 -->
                </li>
                <li><a href="/Portfolio/Index/">Portfolio</a></li>
                <li><a href="/Project/Index/">Project</a></li>
                <li>
                    <a href="/About/Index/">Hakkımda</a>
                    <!-- level 2 -->
                    <ul>
                        <li><a href="resume.html">Resume</a></li>
                        <li><a href="typo.html">Typography</a></li>
                        <li><a href="shortcodes.html">Shortcodes</a></li>
                        <li><a href="archives.html">Archives</a></li>
                        <li><a href="404.html">404</a></li>
                        <li><a href="grid.html">Grid</a></li>
                        <li>
                            <a href="form-elements.html">Forms</a>
                            <!-- level 3 -->
                            <ul>
                                <li><a href="grid.html">Grid</a></li>
                                <li><a href="form-elements.html">Forms</a></li>
                            </ul>
                            <!-- level 3 -->
                        </li>
                    </ul>
                    <!-- level 2 -->
                </li>
                <li><a href="/Contact/Index/">İletişim</a></li>
            </ul>
        </div>
        <!-- nav-menu -->

        <a class="search-toggle toggle-link"></a>

        <!-- search-container -->
        <div class="search-container">

            <div class="search-box">
                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        Search for
                        <input type="search" id="search-field" placeholder="type and hit enter" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </div>

        </div>
        <!-- search-container -->
    </nav>
</header>