<header id="masthead" class="site-header" role="banner">

    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">

        <a class="menu-toggle"><span class="lines"></span></a>

        <div class="nav-menu">
            <a href="/Blog/Index/"><img src="~/images/logo/Miray_Durgun.png" style="float:left; margin-top:-6.3%; width:20%; height:20%; margin-right:-22%;" /></a>
            <ul>
                <li><a href="/Blog/Index/">Ana Sayfa</a></li>
                <li><a href="/Portfolio/Index/">Portfolyo</a></li>
                <li><a href="/Project/Index/">Projeler</a></li>
                <li><a href="/Admin/About/">Hakkımda</a></li>
                <li><a href="/Contact/Index/">İletişim</a></li>
                <li style="width:4%; height:4%;">
                    <a href="/Login/Index/"><img src="~/images/logo/login.png" /></a>
                </li>
            </ul>
        </div>
        <a class="search-toggle toggle-link"></a>
        <div class="search-container">
            <div class="search-box">
                <form role="search" method="get" class="search-form" action="#">
                    <label>
                       Search for
                        <input type="search" id="search-field" placeholder="Yazın ve enter tuşuna basın" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </div>
        </div>
    </nav>
</header>

