@model EntityLayer.Concrete.Education

@{
    ViewData["Title"] = "EducationUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px #6600CC;
        }

    .text-edu {
        color: #6633CC;
    }

    form div {
        margin-bottom: 3%;
    }
</style>



<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center text-edu">Eğitim Düzenleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        <form asp-action="EducationUpdate" asp-controller="AdminEducation" asp-area="Admin" method="post">
                                            <div class="form-group">
                                                <input type="hidden" asp-for="EducationId" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Okul Adı</label>
                                                <input asp-for="EducationName" class="form-control" />
                                                <span asp-validation-for="EducationName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Bölüm Adı</label>
                                                <input asp-for="EducationTitle" class="form-control" />
                                                <span asp-validation-for="EducationTitle" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Açıklama</label>
                                                <textarea asp-for="EducationDescription" class="form-control" rows="5"></textarea>
                                                <span asp-validation-for="EducationDescription" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Başlangıç Tarihi</label>
                                                <input asp-for="EducationStartDate" class="form-control" type="date" />
                                                <span asp-validation-for="EducationStartDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Bitiş Tarihi</label>
                                                <input asp-for="EducationEndDate" class="form-control" type="date" />
                                                <span asp-validation-for="EducationEndDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-info">Güncelle</button>
                                                <a asp-controller="AdminPortfolio" asp-action="Index" class="btn btn-danger">İptal Et</a>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>