@model EntityLayer.Concrete.Program
@{
    ViewData["Title"] = "ProgramUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px lightblue;
        }

    form div {
        margin-bottom: 3%;
    }
</style>



<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center text-:primary">Program Düzenleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        <form asp-action="ProgramUpdate" asp-controller="AdminProgram" asp-area="Admin" method="post">
                                            <div class="form-group">
                                                <label>Id</label>
                                                <input asp-for="Id" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Program Adı</label>
                                                <input asp-for="ProgramName" class="form-control" />
                                                <span asp-validation-for="ProgramName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-info">Güncelle</button>
                                                <a asp-controller="AdminPortfolio" asp-action="Index" class="btn btn-danger">İptal Et</a>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>