@model EntityLayer.Concrete.Project


@{
    ViewData["Title"] = "ProjectAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    .card {
        margin: 25px;
        padding: 5px;
        box-shadow: 0 0 8px grey;
    }

        .card:hover {
            box-shadow: 0 0 10px #80baf9;
        }

    form div {
        margin-bottom: 3%;
    }
</style>


<div id="wrapper">
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="header-title text-center text-primary">Proje Ekleme Sayfası</h2>
                                <div class="row">
                                    <div class="col-lg-5 mx-auto">


                                        <form asp-action="ProjectAdd" asp-controller="AdminProject" asp-area="Admin" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label>Proje Adı</label>
                                                <input asp-for="ProjectName" class="form-control" />
                                                <span asp-validation-for="ProjectName" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Özet Bilgi</label>
                                                <textarea asp-for="ProjectSummary" class="form-control" rows="3"></textarea>
                                                <span asp-validation-for="ProjectSummary" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>1. Açıklama </label>
                                                <textarea asp-for="ProjectDescription" class="form-control" rows="5"></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>2. Açıklama</label>
                                                <textarea asp-for="ProjectDescription2" class="form-control" rows="5"></textarea>
                                                <span asp-validation-for="ProjectDescription2" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Tamamlanma Yüzdesi</label>
                                                <input asp-for="ProjectCompletion" class="form-control" />
                                                <span asp-validation-for="ProjectCompletion" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label>Görsel</label>
                                                <input asp-for="Image1" type="file" class="form-control" />
                                                <span asp-validation-for="Image1" class="text-danger"></span>
                                            </div>

                                            <button type="submit" class="btn btn-info">Ekle</button>
                                            <a asp-controller="AdminProject" asp-action="Index" class="btn btn-danger">İptal Et</a>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>