@{
    ViewData["Title"] = "JobIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-page">
    <div class="content">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Portfolio</h4>

                    <ul class="nav nav-tabs nav-bordered nav-justified">
                        <li class="nav-item">
                            <a href="#job" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                                Kariyerim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#education" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Eğitimim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#certificate" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Sertifikalarım
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#skill" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Yetkinliklerim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#softwareUsed" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Bildiğim Programlar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#project" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Projelerim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#testimonial" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Referanslarım
                            </a>
                        </li>
                    </ul>






                    <div class="tab-content">

                        @await Component.InvokeAsync("AdminJob")
                        @await Component.InvokeAsync("AdminEducation")





                      


                        <div class="tab-pane" id="certificate">
                            <p>Vakal text here dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                            <p class="mb-0">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>