@{
    ViewData["Title"] = "JobIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-page">
    <div class="content">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Portfolyo</h4>

                    <ul class="nav nav-tabs nav-bordered nav-justified">
                        <li class="nav-item">
                            <a href="#job" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                                Kariyerim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#education" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Eğitimim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#certificate" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Sertifikalarım
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#skill" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Yetkinliklerim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#programs" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Bildiğim Programlar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#testimonial" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                Referanslarım
                            </a>
                        </li>
                    </ul>






                    <div class="tab-content">

                        @await Component.InvokeAsync("AdminJob")
                        @await Component.InvokeAsync("AdminEducation")
                        @await Component.InvokeAsync("AdminCertificate")
                        @await Component.InvokeAsync("AdminSkill")
                        @await Component.InvokeAsync("AdminProgram")
                        @await Component.InvokeAsync("AdminTestimonial")

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>